import Layout from '../layouts/BlogPost.astro';

<Layout
  title="About Me"
  description="Get to know Blake - A coding enthusiast, server guru, and tech explorer."
  pubDate={new Date("August 15, 2023")}
  heroImage="/about-me-hero.jpg"
>
  <p>
    Hey there, I'm Blake! 🚀 I'm fueled by a deep passion for coding, servers,
    and homelabs. Currently, I'm proudly wearing multiple hats at Rabbit
    Company: a dedicated developer and a reliable support staff member.
  </p>

  <p>
    My coding journey has introduced me to a diverse array of programming
    languages, empowering me to tackle complex challenges and bring ideas to
    life through elegant code. Debugging servers isn't just a task, but an art
    that I've mastered, ensuring that the digital infrastructure runs
    seamlessly.
  </p>

  <p>
    Beyond the lines of code and server rooms, I thrive on exploration. Whether
    it's diving into web app development, embracing the intricacies of
    algorithms, or staying ahead with emerging technologies, I'm constantly
    curious and eager to learn.
  </p>

  <p>
    This space is dedicated to sharing my coding escapades, innovative projects,
    and insights into the ever-evolving tech landscape. I invite you to join me
    on this exciting journey, as I unravel the magic behind lines of code and
    the wonders of digital landscapes.
  </p>

  <p>
    When I'm not busy with tech endeavors, you can find me enjoying the great
    outdoors, sipping on a cup of coffee, or indulging in a good book. Feel free
    to connect with me on my social channels – let's learn, create, and innovate
    together!
  </p>
</Layout>
