<div class="mt-4 flex justify-center">
  <div class="hidden lg:block"> <!-- Hide on small devices -->
    <script type="text/javascript">
      atOptions = {
        'key' : 'f80875e48da1c3cf0653a7d4e744cfe8',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/f80875e48da1c3cf0653a7d4e744cfe8/invoke.js"></scr' + 'ipt>');
    </script>
  </div>
  <div class="lg:hidden"> <!-- Hide on large devices -->
    <script type="text/javascript">
      atOptions = {
        'key' : 'c30c5cd14eb92657737ffd2556369bb6',
        'format' : 'iframe',
        'height' : 50,
        'width' : 320,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c30c5cd14eb92657737ffd2556369bb6/invoke.js"></scr' + 'ipt>');
    </script>
  </div>
</div>
