<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Blake</strong>. I'm and developer and server tech base out of Australia.
    You can follow me on <a href="https://www.youtube.com/channel/UCbAf_psqFnOUVQ-CdyXnwXg" target="_blank">Youtube</a>,
    see some of my work on <a href="https://www.github.com/NOXITB" target="_blank">GitHub</a>,
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
