<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Maxi</strong>. I'm a software engineer and data scientist based in Los Angeles.
    You can follow me on <a href="https://www.youtube.com/c/Charca" target="_blank">Youtube</a>,
    see some of my work on <a href="https://www.github.com/Charca" target="_blank">GitHub</a>,
    or read more about me on <a href="https://www.maxiferreira.com" target="_blank">Stack Overflow</a>.
  </p>

  <h3>Connect with me:</h3>
  <p>
    <a href="https://stackoverflow.com/users/15397125" target="_blank"><img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/stack-overflow.svg" alt="15397125" height="30" width="40" /></a>
    <a href="https://www.youtube.com/c/https://www.youtube.com/channel/ucbaf_psqfnouvq-cdyxnwxg" target="_blank"><img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/youtube.svg" alt="https://www.youtube.com/channel/ucbaf_psqfnouvq-cdyxnwxg" height="30" width="40" /></a>
    <a href="https://discord.gg/https://discord.gg/RvW5UCEer3" target="_blank"><img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/discord.svg" alt="https://discord.gg/RvW5UCEer3" height="30" width="40" /></a>
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
