---
import Container from "../components/container.astro";
import Postlist from "../components/postlist.astro";
import Layout from "../layouts/Layout.astro";
import { latestPosts } from "../utils/content";
import { categories } from "../data/category"; // Import your categories data
---

<aside class="w-auto min-w-[200px] p-4">
  <h2 class="text-xl font-semibold">Categories</h2>
  <ul class="space-y-2">
    {categories.map((category) => (
      <li key={category.slug}>
        <a
          href={`/category/${category.slug}`} // Replace with your actual category URL
          class={`text-${category.color} hover:underline`}
        >
          {category.title}
        </a>
      </li>
    ))}
  </ul>
</aside>










