---
import Container from "./container.astro";
import Themeswitch from "./themeswitch.astro";
---

<Container class="mt-10 border-t border-gray-100 dark:border-gray-800">
  <footer class="flex flex-col items-center">
    <div class="text-sm text-center">
      Copyright © {new Date().getFullYear()} Blake. All rights reserved.
    </div>
    <div
      class="flex justify-center gap-1 mt-1 text-sm text-center text-gray-500 dark:text-gray-600">
      <span>
        Made by Blake
      
      </span>
      <span>&middot;</span>
      <span>
        <a
          href="https://github.com/NOXITB/nox-blogs"
          rel="noopener"
          target="_blank">
          Github
        </a>
      </span>
    </div>
    <script async="async" data-cfasync="false" src="//pl20666481.highcpmrevenuegate.com/066afb85a171f3b3b34299cbba400e2e/invoke.js"></script>
<div id="container-066afb85a171f3b3b34299cbba400e2e"></div>
    <div class="flex items-center justify-between mt-2">
      <Themeswitch />
    </div>
  </footer>
</Container>
