---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<template>
  <header>
    <nav>
      <h2><a href="/">{SITE_TITLE}</a></h2>
      <div class="internal-links">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
      <div class="social-links">
        <a href="https://m.webtoo.ls/@astro" target="_blank">
          <span class="sr-only">Follow Astro on Mastodon</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
            <!-- Mastodon SVG path -->
          </svg>
        </a>
        <a href="https://twitter.com/astrodotbuild" target="_blank">
          <span class="sr-only">Follow Astro on Twitter</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
            <!-- Twitter SVG path -->
          </svg>
        </a>
        <a href="https://github.com/withastro/astro" target="_blank">
          <span class="sr-only">Go to Astro's GitHub repo</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
            <!-- GitHub SVG path -->
          </svg>
        </a>
      </div>
    </nav>
  </header>
</template>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: #111827; /* Updated background color */
    color: white; /* Text color */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: white; /* Text color */
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
