---
import Footer from "../components/Footer.astro";
import Navbar from "../components/navbar.astro";
import "@fontsource/inter/variable.css";
import { checkImageUrl } from "../utils/all";
import { SEO } from "astro-seo";
import { plainify } from "../utils/textc";

export interface Props {
  title?: string;
  desc?: string;
  excerpt?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, excerpt, desc, ogimage = "/inplace.png" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title
  : "My Personal Blog Website";

const makedecs = excerpt || "My Personal Blog Website";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1890577455173761"
     crossorigin="anonymous"></script>
     <script async src="https://fundingchoicesmessages.google.com/i/pub-1890577455173761?ers=1" nonce="5WddHVWAH0jXWCbNQj-F8A"></script><script nonce="5WddHVWAH0jXWCbNQj-F8A">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>
     <script async src="https://analytics.umami.is/script.js" data-website-id="96d321bc-63fb-4f56-a529-886a177bdc22"></script>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fav.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={desc}
      canonical={canonicalURL}
      twitter={{
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          description: makedecs,
          image: resolvedOGImage,
        },
        image: {
          alt: "Website Image",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
